<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand m-3" href="#">myGame</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
        <li class="nav-item m-3">
          <a class="nav-link" href="#" routerLink="/output-page">@Output_Page</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link" href="#" routerLink="/hot-observables-page">Hot Observables$</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link" href="#" routerLink="/cold-observables-page">Cold Observables$</a>
        </li>
      </ul>
    </div>
</nav>
